
div {
    display: block;
}
html:not([dir=rtl]) body {
    text-align: left;
}
body {
    margin: 0;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
element.style {
    cursor: pointer;
}
.alert.alert-full-bleed {
    border-radius: 0;
    display: flex;
    justify-content: center;
}
.bg-blue, .bg-brand, .bg-primary, .theme-dark .bg-primary-alt {
    background-color: #0067b8!important;
    color: #fff;
}
.alert {
    border: 0.0625rem solid transparent;
    border-radius: 0.125rem;
    min-height: 3.625rem;
    position: relative;
    display: flex;
    padding: 1rem 1.5rem;
    background-color: #e6e6e6;
    color: #000;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
html:not([dir=rtl]) body {
    text-align: left;
}
body {
    margin: 0;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}